colour{
    --primary-color: #d35649; 
    --primary-gray:#98a5a5;
    --gray-footer: #1f1f1f;  
     --primary-blue:#509bd7; 
    --gray-footer-btn: #444;  
      --primary-purple: #575a89; 
    --light-gray: #eee;  
  }

.first {
    background-color: #d35649;
    color: #eee;
}
.titre{
    color: #98a5a9;

}
#bouton{
    background-color: #509bd7;  
    color: #eee;
}

.two{
    background-color: #eee;
    width: 100%;
    padding: 5%;
}
#jaune{
    background-color: goldenrod;
}
.title{
    text-align: center;
    color:#444;
}
.image{
    
    background-image: url(assets/.image/group-2.svg),
    linear-gradient(#d35649,#d35649);
    color: #eee;
    margin: 20%;
    width: 100%;
}
.list-style-type-none{
    list-style-type: none;
}
.border-y{
    border-top: 1px solid white;
    border-bottom: 1px solid white;

}
.subscribe{
    background-color: #1f1f1f;
}
.bouton{
    background-color: #98a5a5;
    padding: 5px;
    width: 20px;

}
.footer1{
background-color:black;
color: #eee;

}
.text{
    color: #d35649;
}


#maps-bar{
    border: 2px solid white;
    border-radius: 50px;
}

#maps-bar > img{
    width: 60px;
    height: 60px;
    position: relative;
    top:5px;
}
.email{
    background-color:black;
}
.footer2{
 background-color: #444;
 color: #98a5a9;
}