.first {
    background-color: #d35649;
    color: #eee;
}
.titre{
    color: #98a5a9;

}
#bouton{
    background-color: #509bd7;  
    color: #eee;
}
.form-control{
    width: 120px;
    color:#eee;
}
.two{
    background-color: #eee;
    width: 100%;
    padding: 5%;
    margin: 40px;
}
#jaune{
    background-color: goldenrod;
}
.title{
    text-align: center;
    color:#444;
}
.image{
    
    background-image: url(assets/.image/group-2.svg),
    linear-gradient(#d35649,#d35649);
    color: #eee;
    margin: 20%;
    width: 100%;
}